MHacks6/Library/ProjectSettings.asset
MHacks6/Library/ShaderCache/7/
MHacks6/Library/ShaderCache/0/
MHacks6/Library/ShaderCache/*
MHacks6/Library/ShaderCache/c/c9335c48fc155eab4e06b5a3e0ba3027.bin
MHacks6/Library/expandedItems
MHacks6/Temp